{:deps {:aliases [:cljs]}
 :builds
 {:app
  {:target :browser
   :output-dir "docs/js"
   :asset-path "js"
   :modules {:main {:entries [kotoba.plm.app]}}
   :devtools {:http-root "docs" :http-port 8765}}}}
